.button-cont{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 42px;
    background-color: rgb(50, 50, 241);
    border: none;
    border-radius: 5px;
}

.button-text{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.button-cont:hover{
    background-color: rgb(50, 50, 241);
    opacity: 0.8;
}